@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400&display=swap');

$background-color: #363e4d;
$block-background-color: #4e5a70;
$hover-color: #5a687d;
$header-color: #2a303c;
$accent-color: #557fa7;
$text-color: #fafafa;
$secondary-text-color: #a4b2bc;
$blocks-max-width: 941px;
$blocks-input-max-width: 874px;
$sign-block-max-width: 500px;
$sign-input-width: 420px;
$success-color: #52c41a;
$error-color: red;
$success-hover-color: #b9dca8;
$error-hover-color: rgb(225, 181, 181);
