@import '../../constants/constants.scss';

.message-block {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  color: black;

  border-radius: 6px;
  padding: 20px;
}
