@import '../../constants/constants.scss';

.input {
  &__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    border: 1px solid $secondary-text-color;
    border-radius: 5px;
  }
}
